{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Homepage{% endblock %}

{% block body %}
  <div class="mb-3 p-5">
    {{ form(form) }}
  </div>
  {% if posts %}
    {% for post in posts %}
      <div class="card m-2">
        <div class="card-header text-center">
          <h4>Title: {{ post.title }}</h4>
        </div>
        <div class="card-body">
          <h4>Body:</h4>
          <p>{{ post.body }}</p>
          <hr>
          <blockquote class="blockquote mb-0">
            <small>Time posted: {{ post.postDate | date('Y-m-d H:i:s') }}</small>
            <br>
            <small>Posted by: {{ post.userId.username }}</small>
          </blockquote>
        </div>
        {% if app.user.id == post.userId.id %}
          <hr>
          <div class="d-flex justify-content-end">
            <a href="{{ path('default.delete', {'id':post.id}) }}" class="btn btn-danger m-2">Delete</a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    <p>There are no posts to show!</p>
  {% endif %}
{% endblock %}